@import '_normilize';

$maintheme: #341f5e;

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	color: rgba(0,0,0,.54);
  	font-size: 15px;
}

.flex-nav {
	box-shadow: 5px 5px 10px 0 rgba(46,61,73,0.05);
}

.flex-nav ul {
	list-style: none;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	height: 65px;
	align-items: center;

	li {
		text-align: center;
		flex: 0 1 150px;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				color: $maintheme;
			}
		}
	}

	li.flex-logo {
		flex-grow: 1;
		text-align: initial;
		font-size: 22px;
		font-weight: bold;
		color: black;

		a {
			display: flex;
			align-items: center;

			.logo {
				width: 30px;
				height: 30px;
				margin-right: 10px;
			}
		}	
	}

	li.flex-search {
		flex-basis: 30px;
		overflow: hidden;
		transition: all 250ms;

		label {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 40px 160px;
			align-items: center;

			i {
				
				&:hover {
					color: $maintheme;
					cursor: pointer;
				}
			}

			input {
				outline: none;
				border: none;
				transition: all 250ms;
			}
		}
	}

	li.flex-login {
		flex-basis: 100px;
		color: $maintheme;
		cursor: pointer;
	}
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 65px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.main-content {
	flex: 1 1 100%;

	color: white;
	display: flex;
	align-items: center;
	background: #746396;

	div {
		padding: 50px 80px;
		flex: 1 1 100%;
	}

	img {
		width: 250px;
		margin-left: 60px;
	}

	div.intro {
		font-size: 40px;
		font-weight: 500; 

		p.small {
			font-size: 20px;
			font-weight: 300;
		}

		button {
			background: white;
			font-size: 20px;
			border: none;
			color: $maintheme;
			padding: 5px 30px;
			margin-top: 30px;
			border-radius: 4px;
			outline: none;

			&:hover {
				color: white;
				background-color: $maintheme;
			}
		}
	}
}

section.popular-articles {
	flex: 0 1 55%;

	header.title {
		padding: 60px 20px 30px 20px;
		margin-bottom: 30px;
		display: flex;
		border-bottom: 1px solid grey;

		p {
			flex-grow: 1;
			color: black;
			font-size: 20px;
			font-weight: 600;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	article {
		margin-bottom: 40px;
		display: flex;

		.article-content {
			flex-grow: 1;
			padding-left: 20px;
			padding-top: 10px;

			h2 {
				padding-bottom: 5px;
				color: black;
			}

			p.description {
				padding-bottom: 15px;
			}

			p.author-name {
				color: black;
			}
		}
	}
}

section.editors-articles {
	flex: 0 1 30%;
	padding-left: 50px;

	header.title {
		padding: 100px 20px 30px 20px;
		margin-bottom: 30px;
		border-bottom: 1px solid grey;

		p {
			color: black;
			font-size: 20px;
			font-weight: 600;
			text-align: center;
		}
	}

	article {
		margin-bottom: 40px;

		.article-content {
			width: 80%;
			margin: 0 auto;

			h2 {
				padding-bottom: 5px;
				color: black;
			}

			p.description {
				padding-bottom: 15px;
			}

			p.author-name {
				color: black;
			}
		}
	}
}

footer {
	text-align: center;
	
	p {
		margin-bottom: 15px;
		margin-top: 15px;

		span.author {
			color: black;
			font-style: italic;
		}
	}
}

.loading {
    margin: 0 auto;
    margin-top: 50px;
    border: 10px solid white;
    border-top: 10px solid $maintheme;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 650px) {

}